
# these patterns ignore the directory regardless of place in tree
**/bin/
**/obj/
**/.venv/
**/Debug/

.idea/*
.ionide/*
.vscode/*
fsharp/fsharp\ -\ Shortcut.lnk
fsharp/functional-programming-using-f#.pdf
